.header {
  padding: 20px;

  .ant-form-item {
    margin-bottom: 0;
  }

  .ant-form-item-label > label {
    color: #fff;
  }

  .ant-col {
    padding: 0 10px;
  }
}

.content {
  display: flex;
  flex-wrap: wrap;

  .card-item {
    width: 31%;
    margin: 1%;
    height: 250px;
    background-image: linear-gradient(134deg, rgba(39, 61, 137, 0.6) 0%, rgba(32, 53, 122, 0.6) 100%);
    border-radius: 4px;
    padding: 20px;

    h3 {
      color: #fff;
    }

    p {
      margin: 50px 0;
    }
  }
}
