.mapwrap{
    height: 100%;
    .map{
        width: 100%;
        height: 50%;
        margin-bottom: 10px;
        position: relative;
        .switchBtn{
            position: absolute;
            right: 10px;
            bottom: 10px;
        }
    }
    .table{
        width: 100%;
        height: 50%;
    }
}