.editPage{
    height : 100%;
    .editModewrap{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        position: relative;
        padding-top: 10px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(24,139,247,0.50);

        .editModeItem{
            width : 100px;
            height: 100%;
            text-align: center;
            line-height: 28px;
            border: 1px solid #355BB7;
            border-radius: 4px;
            color: #fff;
            opacity: .6;
            cursor: pointer;
            margin-left: 20px;
        }

        .editModeItem:hover{
            background-image: linear-gradient(-53deg, #188BF7 0%, #00D5FF 100%);
            opacity: 1;
        }

        .action{
            background-image: linear-gradient(-53deg, #188BF7 0%, #00D5FF 100%);
            opacity: 1;
        }

        .back{
            background-color: #10386A;
            color: #fff;
            opacity: .6;
            border-color: #256294;
            position: absolute;
            left: 0;
            margin: 0;
        }
        .pageName{
            position: absolute;
            top: 0px;
            left: 20px;
            display: flex;
            .title{
                display: inline-block;
                width: 100px;
                margin-right: 10px;
                height: 20px;
                line-height: 28px;
            }
        }
        .yesOrNo{
            position: absolute;
            top: 6px;
            right: 100px;
            >span{
                border: 1px solid tomato;
                margin-right: 10px;
                cursor: pointer;
                display: inline-block;
                width: 50px;
                height: 20px;
                border-radius: 4px;
                text-align: center;
                line-height: 18px;
            }
            >span:hover{
                background: tomato;
                color: #fff;
            }
        }
    }

    .pageView{
        height: 100%;
        .editAgain{
            cursor: pointer;
        }
        >div{
            height: 100%;
        }
        .double{
            display: flex;
            justify-content: space-between;

            >div{
                width: 49%;
            }
        }
        .tri{
            display: flex;
            justify-content: space-between;

            >div{
                width: 31%;
            }
        }
    }
}
