.meetingDetail{
    padding: 20px;

    .tabClass{
        color: #fff;
        margin-top: 10px;

        .ant-tabs-tab {
            font-size: 20px;
        }
    }
}

.back{
    background-color: #10386A;
    color: #fff;
    opacity: .6;
    border-color: #256294;
}
