.header {
  padding: 20px;
  .ant-col {
    padding: 0 10px 0 0;
  }
  .ant-form {
    &-item {
      margin-bottom: 0;
      &-label {
        label {
          color: #fff;
        }
      }
      &-control {
        .ant-select {
          &-selector {
            background: linear-gradient(
              134deg,
              rgba(39, 61, 137, 1) 0%,
              rgba(32, 53, 122, 0.6) 100%
            );
            border: 0;
          }
          &-selection {
            &-item,
            &-search {
              color: #fff;
            }
          }
          &-arrow {
            color: #fff;
          }
        }
      }
    }
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  height: calc(100vh - 140px);
  overflow: auto;
  .card-item {
    width: 31%;
    margin: 1%;
    height: 250px;
    background-image: linear-gradient(
      130deg,
      rgba(23, 38, 82, 0.6) 0%,
      rgba(23, 38, 82, 1) 100%
    );
    border-radius: 4px;
    padding: 20px;
    display: flex;
    align-content: space-around;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    &:hover {
      box-shadow: 0px 0px 10px 10px #6b87e745;
      transform: translate(5px, -5px);
      transition: 0.3s;
    }
    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      border-bottom: 1px solid #3134ab;
      padding-bottom: 10px;
      h3 {
        position: relative;
        padding-left: 10px;
        color: #fff;
        margin: 0;
        &::before {
          display: block;
          content: " ";
          width: 3px;
          height: 14px;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          background-color: #6b87e7;
        }
      }
      .status {
        position: relative;
        padding: 2px 5px;
        font-size: 12px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        &::before {
          display: block;
          content: " ";
          width: 5px;
          height: 5px;
          border-radius: 50%;
          margin-right: 5px;
        }
      }
      .not_start {
        color: #3cb8ef;
        border: 2px solid #3cb8ef;
        &::before {
          background-color: #3cb8ef;
        }
      }
      .processing {
        color: #15b94f;
        border: 2px solid #15b94f;
        &::before {
          background-color: #15b94f;
        }
      }
      .over {
        color: #d04848;
        border: 2px solid #d04848;
        &::before {
          background-color: #d04848;
        }
      }
    }
    .time {
      &-title {
        color: rgba(204, 204, 204, 0.45);
        margin-bottom: 10px;
      }
      &-date {
        font-size: 16px;
      }
    }
    .btn-wrap {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .btn {
        border: 0;
        &-info {
          margin-right: 10px;
          background: linear-gradient(230deg, #096dd9, #56a1e6);
        }
        &-page {
          background: linear-gradient(230deg, #ee6e23, #f7ab00);
        }
      }
    }
  }
}

.ant-select {
  &-dropdown {
    background: linear-gradient(
      134deg,
      rgb(107, 135, 231) 0%,
      rgb(37, 52, 102) 100%
    );
  }
  &-item {
    color: #fff;
    &-option-active {
      background: linear-gradient(
        134deg,
        rgb(107, 135, 231) 0%,
        rgb(51, 70, 134) 100%
      );
    }
    &-option-active:not(.ant-select-item-option-disabled),
    &-option-selected:not(.ant-select-item-option-disabled) {
      color: #fff;
      font-weight: 600;
      background: linear-gradient(
        134deg,
        rgb(107, 135, 231) 0%,
        rgb(51, 70, 134) 100%
      );
    }
  }
}

.ant-picker {
  background: linear-gradient(134deg, #273d89 0%, rgba(32, 53, 122, 0.6) 100%);
  border: 0;
  &-dropdown {
    color: #fff;
  }
  &-panel {
    border: 0;
    &-container {
      background: linear-gradient(134deg, #6b87e7 0%, #495ea3 100%);
    }
  }
  &-range-arrow::after {
    border-color: #6b87e7 #6b87e7 transparent transparent;
  }
  &-header {
    border-bottom: 0;
  }
  &-input {
    & > input {
      color: #fff;
    }
  }
  &-clear,
  &-suffix,
  &-separator {
    color: #fff;
  }
  &-clear {
    background: #1a2a60;
  }
  &-cell-disabled::before {
    background: rgba(255, 255, 255, 0.18);
  }
}
